.content{
    height:70%;
    
}
#cList{
    border: solid 1px white;
    overflow: scroll;
    height:500px;
}
.ListBox{

}
.ListImf li{
    margin-top:15px;
    background-color: #E3CAA5;
    border-radius: 10px 10px 10px 10px;
    cursor:pointer;
    transition: 0.6s;
}
.ListImf li:hover{
    border:solid 8px #AD8B73;
}

.ListImf h3{ 
    text-align: center;
    font-weight:600;
    font-size:1.5rem;
    line-height: 1.5;
}
.ListImf span{
    font-weight: bold;
    color:green;
}

.cInfo{
    display: flex;
    flex-direction: column;
}
.cInfo label{
    margin-top:15px;
    margin-bottom: 7px;
    font-weight:bolder;
}
.cInfo div {
    display: flex;
    font-weight: bolder;
    align-self:flex-end;
    margin-top:10px;
   
}
#cInfoSubmit{
    margin-left: 8px;

}
.cSelects select{
    height:27px;
}

