.content{
    height:70%;
    
}
#cList{
    border: solid 1px white;
    overflow: scroll;
    height:500px;
}
/* save imf */
#todayList{
    margin-top:35px;
}
.ListImf li{
    margin-top:15px;
    background-color: #E3CAA5;
    border-radius: 10px 10px 10px 10px;
    cursor:pointer;
    transition: 0.6s;
}
.ListImf li:hover{
    border:solid 8px #AD8B73;
}

.ListImf h3{ 
    text-align: center;
    font-weight:600;
    font-size:1.5rem;
    line-height: 1.5;
}
.ListImf span{
    font-weight: bold;
    color:green;
}
/* 선택 */
.cSelects select{
    height:27px;
}




/* footer 입력 */
.cInfo{
    display: flex;
    flex-direction: column;
}
.cInfo label{
    margin-top:15px;
    margin-bottom: 7px;
    font-weight:bolder;
}
.cInfo div {
    display: flex;
    font-weight: bolder;
    margin-top:10px;
    background-color: black;
   
}
.cInfo input{
    height:35px;
}
.cInfo button{
    font-size: 2rem;
    transition: 0.8s;
}
.cInfo button:hover{
    background-color: #AD8B73;
}
#cInfoRemove{
    flex:1;
}
#cInfoSubmit{
    flex:1;
}

