.content{
    height:70%;
    
}
#cList{
    border: solid 1px white;
    overflow: scroll;
    height:500px;
}
.ListBox{
    border:solid 1px black;
}

.ListImf li{
    margin-top:15px;
    background-color: #E3CAA5;
    border-radius: 10px 10px 10px 10px;
}
.ListImf h3{ 
    text-align: center;
    font-weight:600;
    font-size:1.5rem;
    line-height: 1.5;
}
.ListImf span{
    font-weight: bold;
}


.cInfo{
    display: flex;
    flex-direction: column;
}
.cInfo label{
    margin-top:15px;
    margin-bottom: 7px;
    font-weight:bolder;
}
#cInfoSubmit{
    width:65px;
    font-weight: bolder;
    align-self:flex-end;
    margin-top:10px;
    margin-right: 30px;
}
.cSelects select{
    height:27px;
}
