
nav{
    font-weight: bolder;
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    right:38%;
    margin-top:3px;
 
}
nav a{
    margin-right:15px;
    transition: 0.7s;
}

nav a:hover{
    font-size:1.5rem;
}