@import "reset.css";
@import "time.css";
@import "content.css";
@import "nav.css";

/* Function */
.hidden{
    display: none;
}
.backgroudColor{
    background-color: #AD8B73;
}
.sLeft{
    flex-grow:3;
    width: 500px;
}
.sRight{
    width:300px;
    flex-grow:1;
}
.container{
    height:100vh;
    background-color: #CEAB93;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toDoList{
    width:1400px;
    height:60vh;
    display: flex;
    flex-wrap:wrap;
}
.time, .content{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}
