
.time{
    height: 30%;
    
}
#timer{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:4rem;
}
#timerFct{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#timerFct button{
    margin:15px;
}
#timerFct dl{
    width:100%;
}
#progress{
    width:100%;
    height:40px;
}
