
.time{
    height: 30%;
    
}
#timer{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:4rem;
}
#timerFct{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timerFct button{
    margin:15px;
}
#nowAndNext dl {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
